{% extends "admin/base.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}



{% block coltype %}{% endblock %}

{% block sidebar-menu %}
  <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
      </ul>
  </nav>
{% endblock %}

{% block content %}
<style>
  .table td, .table th {
    padding: .50rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

</style>
<section class="content">
  <div class="card">
    <div class="card-header">
      {% block object-tools %}
          {% block object-tools-items %}
            {% change_list_object_tools %}
          {% endblock %}
      {% endblock %}
      {% if cl.formset and cl.formset.errors %}
          <p class="errornote">
          {% if cl.formset.total_error_count == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
          </p>
          {{ cl.formset.non_form_errors }}
      {% endif %}

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body">

      {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}

      <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        {% if cl.formset %}
          <div>{{ cl.formset.management_form }}</div>
        {% endif %}

        {% block result_list %}
          <div class="row mr-0">
            <div class="col">

                <div class="card-header">
                  <div class="row mr-0">
                    <div class="col">
                  {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
                      </div>
                      <div class="col">
                  {% block search %}{% search_form cl %}{% endblock %}
                        </div>
                  </div>
                </div>
                <!-- /.card-header -->
                {% result_list cl %}
                {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}

              <!-- /.card -->
            </div>
            {% block filters %}
            {% if cl.has_filters %}
              <div id="changelist-filter col">
                <div class="p-3 control-sidebar-dark">
                <h5>{% translate 'Filter' %}</h5>
                <hr class="mb-2">
                {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
                  <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
                </h3>{% endif %}
                {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                </div>
              </div>
            {% endif %}
          {% endblock %}
          </div>
        {% endblock %}
      </form>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      {% block pagination %}{% pagination cl %}{% endblock %}
    </div>
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
</section>
{% endblock %}
