{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<!-- Header -->
<div id="header">
    <div id="branding">
    {% block branding %}{% endblock %}
    </div>
    {% block nav-global %}{% endblock %}
</div>
<!-- END Header -->
<section class="content">
<div class="row">
    <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{% translate 'Recent actions' %} - {% translate 'My actions' %}</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0" style="display: block;">
        <ul class="products-list product-list-in-card pl-2 pr-2">
          <!-- /.item -->
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% translate 'None available' %}</p>
            {% else %}
            <ul class="products-list product-list-in-card pl-2 pr-2">
            {% for entry in admin_log %}
                <li class="item {% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                    {% if entry.is_deletion or not entry.get_admin_url %}
                        {{ entry.object_repr }}
                    {% else %}
                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                    {% endif %}
                    <br>
                    {% if entry.content_type %}
                        <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                    {% else %}
                        <span class="mini quiet">{% translate 'Unknown content' %}</span>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            {% endif %}
          <!-- /.item -->
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
    </div>
</div>
</section>
{% endblock %}

{% block sidebar %}{% endblock %}
